body {
    text-align: center;
    margin: 0;
    font-family: 'Papyrus', fantasy;
    background-color: rgb(255, 255, 255);
}

#h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 2em;
    font-weight: bold;
    padding: .5em;
    margin: .5em;
    box-shadow: 1px 1px 1px 1px rgb(143, 143, 143);
    background-color: rgb(255, 60, 0);
    color: white;
    border: none;
    outline: none;
}

#generate {
    font-family: 'Lucida Handwriting', cursive;
    font-size: 2em;
    font-weight: bold;
    padding: .5em;
    margin: .5em;
    box-shadow: 1px 1px 1px 1px rgb(143, 143, 143);
    background-color: rgb(255, 151, 151);
    color: white;
    border: none;
    outline: none;
}

#sentences p {
    box-shadow: 1px 1px 1px 1px rgb(250, 255, 187);
    margin: 2em;
    margin-left: 15em;
    margin-right: 15em;
    padding: 2em;
    font-size: 1.5em;
    background-color: rgb(255, 242, 62);
}
